*{
    font-family: Georgia;
}

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

#registrar{
    gap: 1em;
}

#registrar form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

#btnIniciar{
    margin-bottom: 1em;
}

a{
    color: dodgerblue;
    text-decoration: underline;
}

.ancla{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 2em;
    margin-top: 3em;
}

.ancla a{
    margin-top: 1em;
    cursor: pointer;
    color: tomato;
}

a{
    cursor: pointer;
}

img{
    max-width: 200px;
}